<h1>Account Page</h1>

<h3>
    Name :<%=name%>
    <br/>
    Email:<%=email%>

    <br/></h3>


<button id="update">Update Profile</button>
<button id="delete">Delete Account</button>
<button id="addPost">Add post</button>
<br/>

<h4>My posts:</h4>
    <div id="posts_list">No posts yet </div>




<div id="edit" style="display: none">

    <input id="newName" name="name" placeholder='<%=name%>'>
    <input id="newEmail" name="email" placeholder='<%=email%>'>
    <br>

    <button id="saveChanges">Update</button>
    <button id="cancelUpdating">Cancel</button>

</div>

