<!--<h1>Login page</h1>-->


<!--<fieldset>-->
    <!--<input id="email" class="logIn" name="email" placeholder='email'>-->

<!--</fieldset> <br/>-->


<!--<fieldset>-->
    <!--<input id="password" class="logIn" name="password" placeholder='password' type="password">-->
<!--</fieldset>-->
<!--<br/>-->







<!--<button id="submit" class="btn btn-primary">Log In</button>-->
<!--<button id="back"   class="btn btn-primary">Back</button>-->


<form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input id="email" type="email"  class="form-control logIn" placeholder="Email address"> <br/>
    <input id="password" type="password" class="form-control logIn" placeholder="Password">
</form> <br/>


<button class="btn  btn-primary" id="submit">Log in</button>
<button class="btn  btn-primary" id="back">Back</button>

