


<ul class="nav nav-tabs">
    <li>
        <a href="#logOut">
        <span class="glyphicon glyphicon-log-out"></span>
        Log Out</a>
    </li>

    <li>
        <a href="#users">
        <span class="glyphicon glyphicon-globe"></span>
        Users</a>
    </li>

    <li>
        <a href="#posts">
        <span class="glyphicon glyphicon-briefcase"></span>
        Posts</a>
    </li>

    <li>
        <a href="#myaccount">
        <span class="glyphicon glyphicon-user"></span>
        My Account</a>
    </li>

    <li>
        <a href="#invite">
            <span class="glyphicon glyphicon-user"></span>
            Invite a friend</a>
    </li>
</ul>