<!--<button id="logOut">-->
    <!--<span class="glyphicon glyphicon-log-out"></span>-->
    <!--Log Out-->
<!--</button>-->

<!--<button id="users">-->
    <!--<span class="glyphicon glyphicon-globe"></span>-->
    <!--Users-->
<!--</button>-->

<!--<button id="posts">-->
    <!--<span class="glyphicon glyphicon-briefcase"></span>-->
    <!--Posts-->
<!--</button>-->

<!--<button id="myAccount">-->
    <!--<span class="glyphicon glyphicon-user"></span>-->
    <!--My Account-->
<!--</button>-->


<ul class="nav nav-tabs">
    <li>
        <a href="#logOut">
        <span class="glyphicon glyphicon-log-out"></span>
        Log Out</a>
    </li>

    <li>
        <a href="#users">
        <span class="glyphicon glyphicon-globe"></span>
        Users</a>
    </li>

    <li>
        <a href="#posts">
        <span class="glyphicon glyphicon-briefcase"></span>
        Posts</a>
    </li>

    <li>
        <a href="#myaccount">
        <span class="glyphicon glyphicon-user"></span>
        My Account</a>
    </li>
</ul>