<h1>Registration page</h1>

<fieldset>
    <input id="name" class="registration form-control" name="name" placeholder='name'>
</fieldset> <br/>

<fieldset>
    <input id="email" class="registration form-control" name="email" placeholder='email'>
    <input id="confirmEmail" class="registration form-control" name="confirmEmail" placeholder='confirmEmail'>
</fieldset> <br/>

<fieldset>
    <input id="password"  class="registration form-control" name="password" placeholder='password' type="password">
    <input id="confirmPassword" class="registration form-control" name="confirmPassword" placeholder='confirmPassword' type="password">
</fieldset> <br/>

<button id="submit" class="btn btn-primary">Registrate</button>
<button id="back" class="btn btn-primary">Back</button>


